$white: #fff;
$white-milk: #f1f1f1;
$black: #000;
$orange: #f93;
$darken-orange: #c63;
$blue: #39f;
$lighter-blue: #3da8e6;
$turquoise: #0cf;
$gray: #999;
$lighten-gray: #dadada;
$darken-red: #c30;
$smoke-white: #f9f9f9;

$input-border: $lighten-gray;
$input-gradient-top: $smoke-white;
$input-gradient-bottom: $white;
$form-background: $white;
$form-border-top: $orange;
$symbol-count-invalid: $darken-red;
$symbol-count-valid: $gray;
$gainsborough: #dadada;
$black: $black;
$disabled-text: #ccc;
$background-nav: #333;

$background-body: $white-milk;
$navigation-list-link: $white;
$navigation-list-link-hover: $orange;
