@import '../../config/variables.scss';

.navigation {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 29px 0;
  width: 100%;
}

.link {
  color: $navigation-list-link;
  font-size: 17px;
  margin-right: 30px;
  text-decoration: none;
  transition: color ease 0.15s;

  &:hover {
    color: $navigation-list-link-hover;
  }
}

.active {
  color: $navigation-list-link-hover;
}

.content {
  background: $background-nav;
}

.container {
  margin: 0 auto;
  width: $main-width-content;
}
