$white: #fff;
$white-milk: #f1f1f1;
$black: #000;
$orange: #f93;
$darken-orange: #c63;
$blue: #39f;
$lighter-blue: #3da8e6;
$turquoise: #0cf;
$gray: #999;
$lighten-gray: #dadada;
$darken-red: #c30;
$smoke-white: #f9f9f9;
$periwinkle: #e4e9ee;
$almost-white: #fafafa;
$pale-blue: #e0e4e9;
$almost-black: #333;
$pale-gray: #fafafa;
$transparent-gray: #e4e9ee52;

$input-border: $lighten-gray;
$input-gradient-top: $smoke-white;
$input-gradient-bottom: $white;
$form-background: $white;
$form-border-top: $orange;
$symbol-count-invalid: $darken-red;
$symbol-count-valid: $gray;
$disabled-text: #ccc;
$background-nav: $almost-black;
$change-region-link: $blue;
$default-link: $lighter-blue;
$background-body: $white-milk;
$navigation-list-link: $white;
$navigation-list-link-hover: $orange;
$link-table: $black;
$standart_time: 0.15s;
$filterRow-bc: $white;
$calc_form: $lighter-blue;
$border-top: $orange;
$link-header-hover: $turquoise;
$bg-search-hover: #f4f4f4;
$border-field: #ccc;
$copyright-text: #666;
$search-text: $black;
$bg-footer: $black;
$font-color-footer: $white;

$main-width-content: 1080px;
$transparent: transparent;
$tr-table: $pale-gray;
$link-table: $black;

$transition-link: color 0.15s ease, fill 0.15s ease, background 0.15s ease;
