.checkbox {
  margin-right: 10px;
  outline: none;
  width: 20px;
}

.checkbox__label {
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}
