.label {
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  vertical-align: baseline;
  width: auto;
}

.field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 340px;
}
